html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Ubuntu;
  background-color: #f4f4f4;  
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

header {
  background-color: #1e3678;
  padding: 10px 20px;
  color: white;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 55px;
}
.home {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.actions button {
  margin-left: 10px;
  font-size: 16.25px;
  padding: 8px 16px;
  background-color: #ff914d;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 40px;
}

.actions button:hover {
  background-color: white;
  color: #f48112;
  transition: 0.5s;
}

main .content {
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  margin-top: -450px;
}

.mid-button{ 
  font-family: ubuntu;
  font-size: 25.5px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #eebc66;
  border: none;
  color: black;
  cursor: pointer; 
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.7s;   
}
.mid-button:hover {
   transform: scale(1.2);
}
#first-block {
  height: 92vh;
  background-color: #398be2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  position: absolute;
  bottom: 92px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: #ff914d;
  animation: apontar 1s infinite;
  cursor: pointer;
}

@keyframes apontar {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

#second-block {
  height: 80vh;
  padding: 60px 40px;
  background-color: #125bff;
  text-align: center;
  font-size: 22px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

#second-block.reveal {
  opacity: 1;
  transform: translateY(0);
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.info-card {
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgb(73, 72, 72);
  padding: 30px;
  width: 300px;
  transition: transform 0.3s ease;
}

.info-card h2 {
  margin-top: 0;
  color: #1e3678;
  font-size: 24px;
}

.info-card p {
  font-size: 16px;
  color: #333;
  text-align: justify;
}
.info-card li{
  font-size: 16px;
  color: #ff914d;
  text-align: justify;
  list-style: square;
}

.info-card:hover {
  transform: translateY(-10px);
}
.parceria {
  color: white;
  margin-top: 20px;
  display: flex;
}
.parceria img{
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  color: white;
}


.plano-container {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 25px;
}

.plano-container h1 {
  text-align: center;
}

.plano-container select,
.plano-container input[type="text"] {
  color: #0044ff;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #0044ff;
}

.dias-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.dia {
  padding: 10px 15px;
  background-color: white;
  color: #ff914d;
  border: 2px solid #ff914d;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
}

.dia.selecionado {
  background-color: #ff914d;
  color: white;
}

.end-create{
  font-size: 25.5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 8px 16px;
  background-color: #1e3678;
  border: none;
  color: white;
  cursor: pointer; 
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.7s;
}
.end-create:hover {
   transform: scale(1.2);
}

a:-webkit-any-link{
  text-decoration: none;
}
a:visited{
  color: transparent;
}
.conteudo-geral {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  font-size: 20px;
}

.secao {
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card-aula {
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
}

.lista-conteudo {
  list-style: square;
  margin-left: 30px;
  color: #1e3678;
  cursor: pointer;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}
