html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Ubuntu;
  background-color: #f4f4f4;  
  overflow-y: scroll;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  background-color: #1e3678;
  padding: 10px 20px;
  color: white;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 55px;
}
.home {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 200px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.info-card {
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgb(73, 72, 72);
  padding: 40px;
  width: 500px;
}

.info-card h2 {
  margin-top: 0;
  color: #1e3678;
  font-size: 35px;
  text-align: center;
}
.info-card h3 {
  margin-top: -15px;
  text-align: center;
  color:#46454586
}

.info-card p {
  font-size: 23px;
}
.info-card p2 input {
  font-size: 20px;
  border-radius: 3.5px;
  border-color: #ff914d;
  background-color: #ff914d;
  color:white;
}
.info-card p2 input:hover {
  font-size: 20px;
  border-radius: 3.5px;
  border-color: #ff914d;
  background-color: white;
  transition-delay: 50ms;
  transform: scale(1.1);
  color: #ff914d;

}
.info-card li{
  font-size: 16px;
  color: #ff914d;
  text-align: justify;
  list-style: square;
}
.info-card p input{
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 3px rgb(240, 215, 74);
  padding: 2px;
  font-size: 18px;
  color: #333;
}
.info-card p input:focus{
    outline: none;
    color: #616161;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}
@media (min-width:720px) and (max-width:1024px){
         header {
  background-color: #1e3678;
  padding: 10px 30px;
  color: white;
}
      }